.gng-icon {
  width: 45% !important;
  height: 100px !important;
  font-size: 100px !important;
}

.gng-stimulus {
  width: 45% !important;
  height: 100px !important;
  font-size: 100px !important;
  background-color: #00000022;
}

.correct {
  color: #0f860f;
}

.incorrect {
  color: #bd1a1a;
}

.fixation {
  color: #ffffff00;
}

.yellow {
  cursor: pointer;
  color: #fced24;
}

.blue {
  cursor: pointer;
  color: #2323a3;
}

.empty {
  cursor: pointer;
}