.gng-icon {
  width: 100px !important;
  height: 100px !important;
  font-size: 100px !important;
}

.correct {
  color: #0f860f;
}

.incorrect {
  color: #bd1a1a;
}

.fixation {
  color: #ffffff;
}

.star {
  cursor: pointer;
  color: #fced24;
}

.circle {
  cursor: pointer;
  color: #2323a3;
}

.empty {
  cursor: pointer;
}