.about {
  color: red;
}

.study-container {
  margin-top: 16px;
}

.view-container {
}

.Text-container {
  padding: 0 24px 0 24px;
}

.languages-container {
  padding: 12px 24px 12px 24px;
}

.matrix-container {
  padding: 6px 12px;
}