.about {
  color: red;
}

.study-container {
  margin-top: 16px;
}

.view-container {
}

.Text-container {
  padding: 0 24px 0 24px;
}

.languages-container {
  padding: 12px 24px 12px 24px;
}

.matrix-spacer {
  margin-top: 24px;
  margin-bottom: 24px;
}

.matrix-question-container {
  padding: 0px 16px 16px;
}

span.required {
  color: red;
}

.markdown-text {
  font-size: 1rem;
}