.nback-icon {
  width: 100% !important;
  height: 200px !important;
  font-size: 200px !important;
}

.single-stimulus {
  width: 300px !important;
  height: 300px !important;
  font-size: 400px !important;
  background-color: #ffffff22;
  cursor: pointer;
  position: relative;
}

.single-stimulus:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.single-stimulus > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 300px;
}

.correct {
  color: #cecece;
}

.incorrect {
  color: #cecece;
}

.fixation {
  color: #ffffff00;
}

.yellow {
  cursor: pointer;
  color: #fced24;
}

.blue {
  cursor: pointer;
  color: #2323a3;
}

.single-stimulus-container {
  /* margin: 72px 0 72px 0 !important;  */
  padding: 0 60px 0 60px !important;
}

.nback-main-container{
  
}

.nback-container {
  padding: 0 24px 0 24px;
  height: calc(100vh - 40px);
  min-height: 500px !important;

}

